/* CSS for the footer */
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b37c06;
    color: black;
    text-align: center;
    padding: 5px;
  }

.container {
    max-width : 420px;
    padding: 30px 40px;
    width: 100%;
    background: transparent;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter:blur(18px);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }