.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    color: #b37c06;
}

/* CSS for Container */
.container {
    max-width : 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    width: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }

body {
        background-image: url('https://th.bing.com/th/id/OIG3.TQXyG6EObh9orEz_9PZW?pid=ImgGn');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}   

    /* CSS for the footer */
.footer {
    position: static;
    left: 0;
    bottom: 1;
    width: 100%;
    background-color: #b37c06;
    color: black;
    text-align: center;
    padding: 1px;
}